// Палитра цветов по оттенкам
$white-color: #ffffff;

$blue-gray-color-50: #fbfbfb;
$blue-gray-color-100: #f7f7f7;
$blue-gray-color-200: #eceff1;
$blue-gray-color-300: #cfd8dc;
$blue-gray-color-400: #78909c;
$blue-gray-color-800: #37474f;

$warm-gray-color-200: #cfd0dc;
$warm-gray-color-400: #78859c;
$warm-gray-color-500: #3f4b59;
$warm-gray-color-600: #37424f;
$warm-gray-color-700: #2a3744;
$warm-gray-color-800: #25303c;
$warm-gray-color-900: #181d23;

$sky-blue-color-200: #b1d3fa;
$sky-blue-color-300: #79b2f6;
$sky-blue-color-400: #4a90e2;
$sky-blue-color-600: #2f7dd8;

$dusty-cherry-color-100: #E6B7C7;
$dusty-cherry-color-200: #c49daa;
$dusty-cherry-color-600: #8a3c55;
$dusty-cherry-color-900: #4D3546;

$warm-red-color-50: #FBF1F2;
$warm-red-color-100: #fbe1e4;
$warm-red-color-400: #fa5d72;
$warm-red-color-800: #e6324a;
